@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0 !important;
}
h1,
h2,
h3,
p,
select,
input {
  font-family: "Poppins", sans-serif;
  color: black;
}

.flex-container {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 10px;
  background-color: #9b59b6;
  text-align: left;
}

.header h1 {
  color: #f2f2f2;
}
.blocks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #cccc;
  border-radius: 15px;
  padding: 10px;
}
.blocks__form {
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.blocks__date {
  margin: 10px auto 10px auto;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 12px;
}
.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons {
  display: flex;
  gap: 10px;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background-color: #878787;
}
.session-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.mtl-btn {
  display: inline-block;
  padding: 10px 20px;
  max-width: 300px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #9b59b6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.mtl-btn:active {
  background-color: #0d47a1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.mtl-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}
.mtl-input:focus {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.days li.selected {
  border-radius: 50%;
  color: white;
}
.days li.selected::before {
  background-color: #9b59b6;
}

.pagination {
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .header {
    text-align: left;
  }
  .blocks {
    flex-direction: row;
  }
  .blocks__form {
    width: 100%;
  }
  .wrapper {
    width: 450px;
  }
}
